.navbar{
    display: flex;
    flex-wrap: wrap;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    padding: 20px;
}
.navbar img{
    flex-grow: 1;
}
.nav{
    flex-grow: 20;
}
.gallery ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    flex-wrap: wrap;
}
.gallery li{
    flex: 1;
}