body{
    background-color: darkturquoise;
}
.container{
    background-color: antiquewhite;    
}
.me-image{
    height: 100px;
    padding: 5px;
}
.nav{
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
}
.nav a{
    font-family: cursive;
    font-size: 20px;
    background-color: black;
    text-decoration: none;
    color: cadetblue;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
}