body{
    background-color: rgba(0, 0, 0, .8);
    color:lightgray;
}
.me-image{
    height: 100px;
    padding: 5px;
    background-color: white;
}
.nav{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
}
.nav a{
    font-family: cursive;
    font-size: 20px;
    background-color: darkgray;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.divider{
    height: 5px;
    width: 100%;
    background-color: goldenrod;
}
.divider2{
    height: 5px;
    width: 100%;
    background-color: #000000;
}
.gallery{
    background-color: #7A7A7A;
    padding: 20px 0;
}
.gallery h1{
    color: white;
    text-align: center;
}
.gallery img{
    margin: 5px;
    height: 100px;
    width: 100px;
}
.gallery ul{
    max-width: 550px;
}
.images{
    padding: 20px 0;
}
.wrapper{
    margin: 0 auto;
    background-color: #273149;
    height: 45vh;
    width: 40%;
    border-radius: 10px;
    padding-top: 20px;
}