body{
    background-color: rgba(0, 0, 0, .8);
    color:lightgray;
}
.me-image{
    height: 100px;
    padding: 5px;
    background-color: white;
}
.nav{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
}
.nav a{
    font-family: cursive;
    font-size: 20px;
    background-color: darkgray;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
}